@import url("https://db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular+Regular");
@import url("https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap");

.container {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 6rem 7.1rem auto auto auto auto;
    font-family: "Graphik Web Regular Regular";
}
#header {
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    padding-left: 1.8rem;
    font-family: "Graphik Web Regular Regular";
    font-size: 1rem;
    font-weight: bold;
    color: #575757;
}

#discount {
    width: 100vw;
    background-color: #241c15;
    color: white;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#discount span {
    border-bottom: 0.1rem solid white;
    border-bottom-style: dashed;
}

#nav {
    width: 100vw;
    display: flex;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}
.navdiv {
    width: 50%;
    display: flex;
    align-items: center;
}
#navdiv_left {
    gap: 3rem;
    padding-left: 1.8rem;
}
#navdiv_left button {
    font-family: "Graphik Web Regular Regular";
    border: none;
    background: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    border-radius: 0.3rem;
    align-items: center;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    height: 3rem;
    cursor: pointer;
}

#navdiv_left button span {
    font-size: 1.6rem;
    display: flex;
}
#navdiv_left button:hover {
    background-color: #f4f3f3;
}
#navdiv_right {
    justify-content: end;
    gap: 2.5rem;
    padding-right: 1.8rem;
}
#navdiv_right p {
    font-size: 1.3rem;
    height: 3rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    padding: 0 0.5rem;
}
#navdiv_right p:hover {
    background-color: #f4f3f3;
}
#srch {
    font-size: 1.9rem !important;
}
#globe {
    font-size: 1.8rem !important;
    display: flex;
    gap: 0.5rem;
    color: #5b5a5a;
}
.btndiv {
    background-color: black;
    border-radius: 5rem;
}

.btndiv button {
    font-family: "Graphik Web Regular Regular";
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    border-style: none;
    border-radius: 5rem;
    border: 0.1rem solid rgb(95, 94, 94);
    transition: 0.2s ease-out;
}
#loginbtndiv {
    width: 8.6rem;
    height: 4.4rem;
    background-color: #ffffff;
}
#signupbtndiv {
    background-color: #ffe01b;
    width: 9.7rem;
    height: 4.4rem;
}
.btndiv button:hover {
    transform: translateY(-0.5rem);
}

.item4 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}
.item4_inneritem1 {
    display: flex;
}
.item4_inneritem1 img {
    width: 100%;
    height: 60rem;
}
.item4_inneritem1 div {
    width: 50%;
    height: 60rem;
}

#inneritem1_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inneritem1_left div {
    display: flex;
    flex-direction: column;
    gap: 2.7rem;

    width: 55rem;
    height: min-content;
}
#a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
}
#b {
    font-family: "Means";
    line-height: 4rem;
    font-size: 5rem;
}
#c {
    font-size: 2rem;
}
.dbtn {
    background-color: rgb(0, 0, 0);
    width: min-content !important;
    border-radius: 5rem;
}
.dbtn button {
    background-color: #ffe01b;
    width: 13rem;
    height: 4.4rem;
    font-family: "Graphik Web Regular Regular";
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    border-style: none;
    border-radius: 5rem;
    border: 0.1rem solid rgb(95, 94, 94);
    transition: 0.2s ease-out;
}
.dbtn button:hover {
    transform: translateY(-0.5rem);
}

.item4_inneritem2 {
    display: flex;
}

.item4_inneritem2 div {
    width: 50%;
    height: 44.5rem;
}
#inneritem2_left img {
    width: 64rem;
    height: 44.5rem;
    float: right;
}
#inneritem2_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inneritem2_right div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50rem;
    height: min-content;
}

#d {
    font-family: "Means";
    font-size: 3.5rem;
    line-height: 4rem;
}
#e {
    font-size: 1.6rem;
}

#f {
    width: min-content !important;
    border-radius: 5rem;
    background-color: black;
    border-style: none;
}
#f button {
    background-color: #ffffff;
    width: 15rem;
    height: 4.4rem;
    font-family: "Graphik Web Regular Regular";
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5rem;
    border: 0.1rem solid rgb(95, 94, 94);
    transition: 0.2s ease-out;
}
#f button:hover {
    transform: translateY(-0.5rem);
}

.item4_inneritem3 {
    display: flex;
}
.item4_inneritem3 > div {
    width: 50%;
    height: 102rem;
}
#inneritem3_right img {
    width: 100%;
    height: 100%;
}

#inneritem3_left {
    display: flex;
    justify-content: center;
    align-items: center;
}
#inneritem3_left_div1 {
    width: 53.3rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}
#g {
    font-family: "Means";
    font-size: 3.4rem;
}
#h {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#mapdiv {
    width: 100%;
    height: auto;
    min-height: 5.5rem;
    border-bottom: 0.1rem solid rgb(171, 169, 169);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
#mapitem1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#mapitem1 button {
    font-size: 1.7rem;
    height: 4.4rem;
    width: 4.4rem;
    background: none;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}
#mapitem1 button:hover {
    background-color: #f4f3f3;
}
#qstn {
    font-size: 1.6rem;
}

#ans {
    font-size: 2rem;
    line-height: 3rem;
    padding-bottom: 2rem;
}

.item6 {
    width: 100vw;
    height: auto;
    /* border: 0.2rem solid purple; */
}
#item6_div1 {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 8rem;
}
#data2_mapdiv {
    display: flex;
    gap: 10rem;
}
#data2_mapdiv_left {
    width: 60%;
    display: flex;
    align-items: center;
}
#data2_mapdiv_left div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#data2_head {
    font-size: 3.1rem;
}
#data2_para {
    font-size: 2rem;
    color: #5c5a5a;
}
#data2_mapdiv_right {
    width: 40%;
}
#data2_mapdiv_right img {
    width: 42.7rem;
    height: 23.9rem;
}

#item6_div2 {
    /* border: 0.1rem solid orangered; */
    width: 100vw;
    min-height: 50rem;
    display: flex;
}
#item6_div2_left {
    width: 30%;
    font-size: 4rem;
    font-family: "Means";
    text-align: center;
}
#item6_div2_right {
    width: 70%;
    
}
#data3_mapdiv {
    width: 85%;
    border-top: 0.1rem solid rgb(182, 179, 179);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#data3_head_btn {
    display: flex;
    /* border: 0.1rem solid; */
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    height: 5.5rem;
}

#data3_head_btn p {
    font-size: 2.4rem;
    color: #241c15;
}
#data3_head_btn button {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: #ffe01b;
    font-size: 1.5rem;
    border-style: none;
    cursor: pointer;
}

#data3_para {
    width: 63%;
    /* border: .1rem solid; */
    font-size: 1.6rem;
    padding-bottom: 2rem;
    color: #29221a;
}

footer {
    margin-top: 8rem;

    width: 100vw;
    /* border: 0.1rem solid black; */
    background-color: #e7b75f;
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem auto auto;
}

#footer_div1 {
    border-bottom: 0.1rem solid rgb(79, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
#footer_div1 p {
    font-size: 1.6rem;
    font-weight: bold;
}
#footer_div1 a {
    font-size: 1.3rem;
    color: black;
    padding: 0.3rem;
}

#footer_div1 a:hover {
    background-color: #efd426;
}
#footer_div2 {
    border-bottom: 0.1rem solid rgb(79, 77, 77);
    display: flex;
    gap: 8rem;
    justify-content: center;
    min-height: 40rem;
}
#ftr_div2_inner {
    display: flex;
    gap: 8rem;
    /* border: .1rem solid; */
}

.footer_div2_innerdiv p {
    /* border: 0.1rem solid; */
    line-height: 4rem;
    font-size: 1.6rem;
    font-weight: bold;
}
.footer_div2_innerdiv li {
    /* border: 0.1rem solid; */
    list-style: none;
    line-height: 3rem;
    cursor: pointer;
}
.footer_div2_innerdiv li:hover {
    background-color: #efd426;
}

.footer_div2_innerdiv li a {
    color: black;
    font-size: 1.3rem;
}

#ftrinnerdiv2 {
    width: 18rem;
    /* border:.1rem solid pink; */
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
#ftrinnerdiv2 div {
    width: 100%;
    /* border: .1rem solid rgb(170, 39, 39); */
    height: auto;
    line-height: 4rem;
}
#ftrinnerdiv2 div img {
    width: 15.7rem;
}
#ftrinnerdiv2 div p {
    font-family: "Means";
    font-weight: normal;
    line-height: normal;
    font-size: 1.4rem;
}
#ftrinnerdiv2 div span {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

#ftrinnerdiv2 div span p {
    font-weight: bold;
    font-family: "Graphik Web Regular Regular";
    font-size: 1.2rem;
}
#ftrinnerdiv2 div span button {
    font-size: 1.9rem;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border-style: none;
    background-color: #efd426;
}
.ftr_div3 {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
#ftr_div3_item1 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.ftr_div3 div {
    display: flex;
    /* border: .1rem  solid sienna; */
    gap: 4rem;

    align-items: center;
}
.ftr_div3 img {
    width: 10rem;
}
#socialmedia {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
#copyright {
    display: flex;
    justify-content: center;
}

#copyright p {
    width: 45%;
    font-size: 1.1rem;
    margin-bottom: 5rem;
}

.item5 {
    width: 100vw;
    background-color: #f6f6f4;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#item5_div1_div {
    width: 130rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}
#item5_div1_div > div {
    cursor: pointer;
    width: 30%;
    border: 0.1rem solid rgb(198, 193, 193);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.2rem;
}
#item5_div1_div > div:hover {
    box-shadow: 0 0 2rem rgb(171, 169, 169);
}

#item5_outermapdiv div {
    height: 5.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 0.1rem solid rgb(198, 193, 193);
}
#premium {
    font-family: "Means";
    font-size: 2rem;
}
#premium_txt {
    font-size: 1.3rem;
    color: grey;
}
#start {
    font-size: 1.2rem;
}
#price {
    font-size: 2.5rem;
    font-weight: bold;
}
#valadity {
    font-size: 1.2rem;
}
#sign {
    font-size: 1.8rem;
}
#txt {
    border-bottom: 0.1rem solid;
    border-bottom-style: dashed;
    font-size: 1.2rem;
}

#limitedoffer {
    font-size: 1.6rem;
}
#offer {
    font-size: 4rem;
    font-family: "Means";
}
#offer span {
    border-bottom: 1rem solid rgb(237, 237, 12);
}
#offer_btn {
    background-color: rgb(0, 0, 0);
    border-radius: 5rem;
    border: none;
}
#offer_btn button {
    background-color: #efd426;
    cursor: pointer;
    width: 16.3rem;
    height: 4.4rem;
    border-radius: 5rem;
    font-family: "Graphik Web Regular Regular";
    font-weight: bold;
    font-size: 1.2rem;
    border: 0.1rem solid rgb(95, 94, 94);
    transition: 0.2s ease-out;
}
#offer_btn button:hover {
    transform: translateY(-5px);
}

@media only screen and (max-width: 480px) {
    .container {
        width: 100vw;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6rem 7.1rem auto auto auto auto;
        font-family: "Graphik Web Regular Regular";
    }
    #header {
        display: none;
    }

    .item4_inneritem1 {
        display: block;
    }

    .item4_inneritem1 img {
        width: 100vw;
        height: auto;
    }
    .item4_inneritem1 div {
        height: auto;
    }

    #inneritem1_left {
        display: block;
        padding: 3rem 0;
        padding-left: 1rem;
    }
    #a {
        font-size: 1.6rem;
    }
    #c {
        padding: 1rem;
    }

    #inneritem1_left div {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .item4_inneritem2 {
        display: flex;
        flex-direction: column;
    }

    .item4_inneritem2 div {
        width: 50%;
        height: 44.5rem;
    }
    #inneritem2_left {
        width: 100vw;
        order: 2;
    }
    #inneritem2_left img {
        width: auto;
    }
    #inneritem2_right {
        display: block;
        height: min-content;
        padding-bottom: 3rem;
        padding-left: 1rem;
    }
    #e {
        font-size: 2.1rem;
    }

 

    .item4_inneritem3 {
        display: block;
    }
    .item4_inneritem3 > div {
        width: 100vw;
        height: min-content;
        padding: 5rem;
    }
    #inneritem3_right img {
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    #inneritem3_right {
        height: 35%;
    }
    #inneritem3_left {
        display: flex;
        height: 38rem;
        justify-content: center;
        align-items: center;
    }
    #inneritem3_left_div1 {
        width: 53.3rem;
        height: min-content;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

 

    #item5_div1_div {
        width: 70vw;
        background-color: #f6f6f4;
        display: flex;
        gap: 3.5rem;
        flex-direction: column;
    }
    #item5_div1_div > div {
        background-color: white;
        width: 100%;
    }
    #item5_div1_div > div:hover {
        box-shadow: 0 0 2rem rgb(171, 169, 169);
    }

    #premium {
        font-family: "Means";
        font-size: 2.5rem;
    }
    #premium_txt {
        font-size: 1.6rem;
        color: grey;
    }
    #start {
        font-size: 1.6rem;
    }
    #price {
        font-size: 2.5rem;
        font-weight: bold;
    }
    #valadity {
        font-size: 1.4rem;
    }
    #sign {
        font-size: 2rem;
    }
    #txt {
        border-bottom: 0.1rem solid;
        border-bottom-style: dashed;
        font-size: 1.4rem;
    }

    #limitedoffer {
        font-size: 2rem;
    }

    #offer_btn button {
        font-size: 1.5rem;
    }
    #seeoffer {
        font-size: 1.5rem;
        padding: 1rem;
    }

    /* hshcsd */

    .item6 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #item6_div1 {
        gap: 10rem;
    }
    #data2_mapdiv {
        flex-direction: column;
        gap: 3.5rem;
    }
    #data2_mapdiv_left {
        width: 80vw;
        display: block;
    }

    #item6_div2 {
        width: 100vw;
        display: flex;
        gap: 4rem;
        flex-direction: column;
        margin-left: 7rem;
    }
    #item6_div2_left {
        width: 80vw;
        font-size: 4rem;
        font-family: "Means";
        text-align: center;
    }
    #item6_div2_right {
        width: 100vw;
    }

    #data3_head_btn p {
        width: 85%;
    }

    #data3_para {
        width: 70%;
        margin-top: 1rem;
        font-size: 1.8rem;
    }

    footer {
      
        display: grid;
        gap: 6rem;
        grid-template-columns: 1fr;
        grid-template-rows: 15rem auto auto;
        padding-left: 2rem;
    }

    #footer_div1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    #footer_div2 {
        width: 100vw;
        display: block;
    }
    #ftr_div2_inner {
        display: flex;
        flex-direction: column;
        gap: 5rem;
      
    }

    
    .ftr_div3 {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
    #ftr_div3_item1 {
        display: flex;
        flex-direction: column;
      align-items: start;
        gap: 1rem;
        font-size: 1.5rem;
    }
   
    .ftr_div3 img {
        width: 10rem;
    
        gap: 2rem;
    }
    #socialmedia {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: 2rem;
        gap: 1rem;
    }
    #copyright {
        display: flex;
        justify-content: center;
    }

    #copyright p {
       width: 100vw;
       padding-right: 6rem;
        font-size: 1.1rem;
    
    }
    .notshow{
      
      display: none !important;
    }

    
}
