* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; 
}
body {
    font-family: "Lucida Console", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFFFFF;
}

@media only screen and (max-width: 480px)  {
    html {
        font-size: 45%;
    }
}

